.vp-feature-item, .vp-highlights, .vp-feature-description, .vp-feature-header, .vp-hero-mask::after {
  background: rgba(255, 255, 255, 0.2); /* White transparent background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vp-feature-item {
  padding: 20px 15px;
}

.vp-highlights {
  padding: 20px 8em 20px 15px;
  margin-left: 15px;
}

.vp-feature-description, .vp-feature-header {
    padding: 20px;
}


.vp-hero-mask::after{
  background: rgba(255, 255, 255, 0.2); /* White transparent background */
  backdrop-filter: blur(2px); /* Frosted glass effect */
  margin: 2em;
}

.sub-button {
  background: rgba(255, 255, 255, 0.4); /* White transparent background */
  backdrop-filter: blur(5px); /* Frosted glass effect */
}

.vp-hero-title {
background: linear-gradient(45deg, #25daf5, #2453aa, #5151a8, #b98f60, #ffb235);
  -webkit-background-clip: text;
  color: transparent;
}
